main{
    background-image: none;
}
.sizing-forms{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.inputs{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
#appliances .inputs button{
    background-color: #15dd15;
    color: #ffffff;
    border: 1px solid #15dd15;
    border-radius: 2px;
    padding: 5px;
}
.appliance-list{
    border: 2px solid #15dd15;
    border-radius: 5px;
    background-color: #e2dfdf;
}
.appliance-list tr{
    display: flex;
    justify-content: space-between;
}
.Appliance-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.smallwidth-input{
    width: 40px;
    border: 1px solid #15dd15;
    border-radius: 4px;
    padding: 5px;
}
#added-items{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#added-items li{
    list-style: none;
    color: #0a0a0a;
    font-size: 17px;
}